@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #d4d4d8; 
  font-family: "Nunito";
}
a {
  color: gray;
  text-decoration: none;
}
.content {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid gray;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  color: gray;
}
.topo {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: larger;
}
